{% extends "_base.txt.j2" %}
{% block request %}Please cancel this subscription, stop any further charges to the account, and tell me whether charges taken after the date of death can be refunded.{% endblock %}
